.App {
    min-height: 100vh;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media (prefers-color-scheme: dark) {
    .App {
        background: #211e1e;
        color: #fff;
    }
}

.App-logo {
    position: relative;
    height: 40vmin;
    width: 40vmin;
    margin-bottom: -3vmin;
    pointer-events: none;
}

.App-logo img {
    position: absolute;
    left: 0;
    height: 40vmin;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo-animated {
        transform-origin: center 38%;
        animation: App-logo-spin infinite 10s linear;
    }
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
