#app {
    min-height: 100vh;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media (prefers-color-scheme: dark) {
    #app {
        background: #222;
        color: #fff;
    }
}

.App-logo {
    position: relative;
    height: 80vmin;
    width: 80vmin;
    max-height: 25rem;
    max-width: 25rem;
    pointer-events: none;
}

.App-logo img {
    position: absolute;
    left: 0;
    height: 100%
}

.App-logo + p {
    margin-top: 0;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo-animated {
        transform-origin: 48% 40%;
        animation: App-logo-spin infinite 10s linear;
    }
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
