.button {
  $size: 5rem;
  height: $size;
  width: $size;

  margin: 5rem;
  padding-bottom: .7rem;

  appearance: none;
  background: transparent;
  border: 2px solid lightgray;
  @media (prefers-color-scheme: dark) {
    border-color: gray;
  }
  font: {
    size: 2.5rem;
  };
  color: currentColor;

  cursor: pointer;

  &:active {
    opacity: .5;
  }
}

.count {
  font: {
    size: 5rem;
  };
}
