.button {
  $size: 5rem;
  height: $size;
  width: $size;

  margin: 0 5rem;

  appearance: none;
  border: none;
  border-radius: 50%;
  background: gainsboro;
  @media (prefers-color-scheme: dark) {
    background: dimgray;
  }

  font-size: 2.5rem;
  color: currentColor;

  cursor: pointer;

  &:active {
    opacity: .5;
  }
}

.count {
  font-size: 5rem;
}
