body {
    margin: 0;
    height: 100vh;

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;

    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
}

@media (prefers-color-scheme: dark) {
    body {
        background: #211e1e;
        color: #fff;
    }
}
