body {
    margin: 0;
    padding: 3rem;
    height: 100vh;

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

h1 {
    margin-top: 0;
}

.measurements-figure {
    margin: 0;

    display: grid;
    grid-template-columns: auto 1fr;
    grid-auto-rows: 2rem;
    grid-gap: 2.5rem;
    align-items: center;
}

.time-wrapper {
    position: relative;
    height: 100%;

    background: #fff;
}

.time-wrapper:after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;

    background: #2693ff;
    mix-blend-mode: screen;
}

.time-main {
    position: absolute;
    height: 100%;

    background: #000;

    display: flex;
    align-items: center;
}

.time-main-label {
    position: absolute;
    left: .5rem;

    color: #fff;
    mix-blend-mode: difference;
}

.time-marker {
    position: absolute;
    height: 100%;
    width: 1px;

    background: #fff;

    z-index: 1;
}

.time-marker span, .time-range span:not(.time-range-label) {
    position: absolute;
    padding: 0 .2rem;

    white-space: nowrap;

    background: rgba(255, 255, 255, .6);
    color: #888;
    transform: translate(-50%);
}

.time-marker span {
    top: -1.2rem;
}

.time-range .time-range-label {
    position: absolute;
    left: 0;
}

.time-ranges {
    position: absolute;
    height: 100%;
    width: 100%;

    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2px;
}

.time-range {
    position: relative;
    background: #444;
    z-index: 1;
}

.time-range span {
    font-size: .8rem;
}

.time-range span:not(.time-range-label) {
    left: 50%;
    margin-top: 2.2rem;
}

.time-range .time-range-label {
    height: 100%;
    margin-left: .2rem;

    color: #ccc;
    white-space: nowrap;

    display: flex;
    align-items: center;
}

@media (prefers-color-scheme: dark) {
    body {
        background: #222;
        color: #fff;
    }

    .time-wrapper {
        background: #222;
    }

    .time-wrapper:after {
        mix-blend-mode: darken;
    }

    .time-main {
        background: #fff;
    }

    .time-main-label {
        color: #fff;
        mix-blend-mode: difference;
    }

    .time-marker {
        background: #000;
    }

    .time-marker span, .time-range span:not(.time-range-label) {
        background: rgba(34, 34, 34, 0.7);
        color: #aaa;
    }
}
